<?xml version="1.0"?>

<model>
  <name>Iris with Gimbal</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Eric</name>
    <email>eric@eric.com</email>
  </author>

  <description>
    Starting with iris_with_standoffs
    add LiftDragPlugin
    add ArduCopterPlugin
    add gimbal_small_2d
  </description>
  <depend>
    <model>
      <uri>model://downward_camera</uri>
      <version>2.0</version>
    </model>
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>2.0</version>
    </model>
  </depend>
</model>
