<?xml version="1.0" ?>
<model>
  <name>Fixed Camera</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Eric</name>
    <email>anonymous</email>
  </author>
  <description>
    Fixed downward facing camera for use with the iris drone.
    This model is a copy of the gimbal_small_1d model with the camera
  </description>
</model>
